body {
    background: #2ab8ac;
    overflow-x: hidden;
    font-family: "Dancing Script", cursive;
}

header .brand {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.8588235294117647);
    position: relative;
    top: -25px;
    left: 36px;
}

div.main {
    height: 80vh;
    position: relative;
}

.main h1 {
    font-size: 80px;;
    color: white;
    text-align: center;
    position: relative;
    top: 25%;
    /*transform: translateY(-50%);*/
}

/* shake-crazy */
.shake-crazy {
@include do-shake('shake-crazy', 3, 4, 2, 400 ms, 12.6, $ opacity: true);
}